#logo
{
    width:800px;
    height:480px;
}

body
{
    color:#0C0C0C ;
}
h1
{
    color: white;
}
.gg
{
    width:250px; 
    height:300px;
}
#tt
{
    width:700px;
    height:700px;
}